@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 'Helvetica',sans-serif;
}

.flex-logo {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.logo {
    background-color: #000;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.box {
    min-height: 45px;
}

.top-right-links {
    display: none;
}

.main-nav {
    display: none;
}

.flex-img {
    display: block;
    width: 100%;
}

h2 {
    font-family: 'Arvo', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}
/*Right pointing*/
.triangle-right {
    width: 0;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    overflow: hidden;
}
.triangle-right:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;
    
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #4679BD;
}

/*Left pointing*/
.triangle-left {
    width: 5%;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}
.triangle-left:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top:-500px;
    
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid #4679BD;
}
