---
---

<!-- NAVIGATION FOR MOBILE -->
<div class="container demo-2">
  <div class="main clearfix">
    <div class="column">
      <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
          <ul class="dl-menu">
            <li><a href="">Paragon Homes</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="#services">Services</a>
                <ul class="dl-submenu">
                  <li><a href="boutique.html">Boutique Carpentry</a></li>
                  <li><a href="home-build.html">Home Building</a></li>
                  <li><a href="add-reno.html">Additions & Renovations</a></li>
                </ul>
            </li>
            <li><a href="#">Brochures</a></li>
            <li><a href="photo.html">Photo Galleries</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
      </div><!-- /dl-menuwrapper -->
    </div>
  </div>
</div><!-- /container -->
