<div class="grid dnav">
  <div class="unit unit-m-1 unit-l-1">
  <div class="top-right-links">
  <a href="/brochure.html">Brochure</a> <p>/</p> <a href="paragon-package.pdf"><img src="{{site.baseurl}}/img/paragon-logo.svg" class="s-logo"></a>
  </div>
  </div>

<div class="unit unit-m-1-4 unit-l-1-4 nitor">
  <a href="index.html"><img src="img/nitor-logo.png" alt="Nitor Carpentry" class="flex-logo"></a>
</div>

<sticknav>
  <div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
<!-- NAVIGATION FOR DESKTOP -->
  <nav class="main-nav">
    <ul class="ul-1">
      <li><a href="about.html">About Us</a></li>
      <li><a href="index.html">Services</a>
        <ul>
          <li class="sub-nav"><a href="custom-home.html">Custom Homes</a></li>
          <li class="sub-nav"><a href="boutique.html">Boutique Carpentry</a></li>
          <li class="sub-nav"><a href="add-reno.html">Additions and Renovations</a></li>
          <li class="sub-nav"><a href="commercial.html">Commercial</a></li>
        </ul>
      </li>
      <li><a href="photo.html">Photo Gallery</a></li>
      <li><a href="process.html">Process</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    </nav>
  </div>
</sticknav>
</div>
