<div class="grid dnav">
  <div class="unit unit-m-1-1 unit-l-1">
    <div class="top-right-links">
      <a href="{{site.baseurl}}/404error.html">Brochure</a> <p>/</p> <a href="paragon-package.pdf"><img src="{{site.baseurl}}/img/paragon-logo.svg" class="s-logo"></a>
    </div>
  </div>

  <div class="unit unit-m-1-4 unit-l-1-4 nitor">
    <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/nitor-logo.png" alt="Nitor Carpentry" class="flex-logo"></a>
  </div>

  <sticknav>
    <div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
    <!-- NAVIGATION FOR DESKTOP -->
      <nav class="main-nav">
        <ul class="ul-1">
          <li><a href="{{site.baseurl}}/about.html">About Us</a></li>
          <li><a href="{{site.baseurl}}/index.html#services">Services</a>
            <ul>
              <li class="sub-nav"><a href="{{site.baseurl}}/custom-home.html">Custom Homes</a></li>
              <li class="sub-nav"><a href="{{site.baseurl}}/boutique.html">Boutique Carpentry</a></li>
              <li class="sub-nav"><a href="{{site.baseurl}}/add-reno.html">Additions and Renovations</a></li>
              <li class="sub-nav"><a href="{{site.baseurl}}/commercial.html">Commercial</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}/photo.html">Photo Gallery</a></li>
          <li><a href="{{site.baseurl}}/process.html">Process</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </sticknav>
</div>
