<sticknav>
  <div class="unit unit-s-1 unit-m-1 unit-l-1 dnav">
<!-- NAVIGATION FOR DESKTOP -->
  <nav class="main-nav">
    <ul class="ul-1">
      <li><a href="about.html">About Us</a></li>
      <li><a href="index.html">Services</a>
        <ul>
          <li class="sub-nav"><a href="home-build.html">Custom Home Build</a></li>
          <li class="sub-nav"><a href="boutique.html">Boutique Carpentry</a></li>
          <li class="sub-nav"><a href="add-reno.html">Additions and Renovations</a></li>
        </ul>
      </li>
      <li><a href="photo.html">Photo Gallery</a></li>
      <li><a href="#testi">Testimonials</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    </nav>
  </div>
</sticknav>
