    <!-- Quake Image Slider -->
    <div class="quake-slider">
        <div class="quake-slider-images">
                <img src="img/img-1.jpg" alt="" class="flex-img">
                <img src="img/img-2.jpg" alt="" class="flex-img">
                <img src="img/img-3.jpg" alt="" class="flex-img">
        </div>
        <div class="quake-slider-captions">
            <div class="quake-slider-caption">
                <h2>We are Ottawa's trusted home renovation company.</h2>
                <p class="body">We specialize in complete home renovations, including home additions and custom homes, finished basements, bathrooms, and kitchen renovations</p>
            </div>
            <div class="quake-slider-caption">
                <h2>How much will your
                    home renovation cost?</h2>
                <p class="body">We work with you to create a personal project plan without any pressure or commitment to buy. There are no variables, surprises, hidden fees or contingencies, so what you see is what you pay.</p>
            </div>
            <div class="quake-slider-caption">
                <h2>Every renovation comes with
                a dedicated project manager.</h2>
                <p class="body">You’ll be in contact with a friendly, knowledgeable, and dedicated project manager who will keep you up-to-date on how your renovation is progressing. Come to us with any questions or queries.</p>
            </div>
        </div>
        
    </div>
    <!-- /Quake Image Slider -->
