    <!-- Quake Image Slider -->
    <div class="quake-slider">
        <div class="quake-slider-images">
                <img src="img/img-1.jpg" alt="" class="flex-img">
                <img src="img/img-2.jpg" alt="" class="flex-img">
                <img src="img/img-3.jpg" alt="" class="flex-img">
        </div>
        <div class="quake-slider-captions">
            <div class="quake-slider-caption">
                <h2>WE ARE OTTAWA'S TRUSTED CUSTOM HOME BUILDING AND RENOVATIONS COMPANY.</h2>
                <p class="body">We specialize in building the most desirable custom homes, refined additions and renovations, and perfected light commercial.</p>
            </div>
            <div class="quake-slider-caption">
                <h2>WHAT ABOUT THE BUDGET?</h2>
                <p class="body">Our education process is one we are most proud of at NITOR. Since every project is unique, we will walk you through how the project can be done on time, and on budget.</p>
            </div>
            <div class="quake-slider-caption">
                <h2>WE STAFF A DEDICATED, KNOWLEDGABLE, PROJECT MANAGER TO EACH AND EVERY PROJECT.</h2>
                <p class="body">Our Project Managers will over communicate with you throughout the project, there is no question not answered.</p>
            </div>
        </div>
        
    </div>
    <!-- /Quake Image Slider -->
