@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 'Helvetica',sans-serif;
}

.logo {
    background-color: #282725;
}

.flex-logo {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.flex-icon {
    display: block;
    width: 80%;
}

.s-logo {
    width: 8%;
}

.flex-img {
    display: block;
    width: 100%;
}

.flex-img-1 {
    display: none;
    width: 100%;
}

.flex-img-2 {
    display: block;
    width: 100%;
}

.add-img {
    display: none;
}

.arrow {
    display: none;
}

.bg-img {
    display: none;
}

.para-img {
    display: none;
    width: 100%;
}

.para-img-2 {
    display: block;
    width: 100%;
}

.top-right-links {
    display: none;
}

.dnav {
    display: none;
}

.main-nav {
    display: none;
}

.box {
    min-height: 45px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-6 {
    padding: 1em;
    background-color: #282725;
}

.box-5,
.box-7,
.box-8 {
    background-color: #FFF;
    padding: 1em;
}

.box-5 h2,
.box-7 h2,
.box-8 h2 {
    color: #000;
}

.box-5 p,
.box-7 p,
.box-8 p {
    color: #000;
}

.body {
    font-size: 0.9em;
    margin: 0 auto;
    color: #FFF;
    letter-spacing: 0.01em;
}

h2 {
    font-family: 'Arvo', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FFF;
}

h3 {
    font-family: 'Arvo', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #000;
    text-align: left;
}

.services {
    padding: 1em 0 0 0;
}

.reno {
    padding: 1em 0 0 0;
}

.reno-p  {
    margin: 0 auto;
    color: #FFF;
    font-weight: bold;
}

.ul-body {
    margin: 0 auto;
    padding: 0 0 0.5em 1em;
    list-style-type: none;
    color: #FFF;
}

.ul-body li:before {
    content: "";
    border-color: transparent #FFF;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.ul-body-1 li {
    color: #FFF;
    list-style-type: none;
}

.ul-body a {
    margin: 0 auto;
    color: #FFF;
}

.ul-body a:link,
.ul-body a:visited {
    text-decoration: none;
    padding: 0 0 0.2em 0;
}

.ul-body a:hover,
.ul-body a:focus {
    background-color: #FFF;
    color: #000;
    padding: 0.5em;
}

.learn-more {
    padding: 1.5em 0 1em 0;
}

.learn-more a {
    font-family: 'Arvo', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #FFF;
    padding: 1em 0.5em 1em 0.5em;
    text-align: center;
    margin: 0 auto;
}

.learn-more a:link,
.learn-more a:visited {
    text-decoration: none;
    color: #000;
}

.learn-more a:hover,
.learn-more a:focus {
    background-color: #000;
    color: #fff;
}

/*Right pointing*/
.triangle-right {
    width: 0;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    overflow: hidden;
    display: none;
}
.triangle-right:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #4679BD;
}

/*Left pointing*/
.triangle-left {
    width: 5%;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    display: none;
}
.triangle-left:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top:-500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid #4679BD;
}

.testimonials {
    color: #000;
    display: block;
    text-align: center;
}

.testi-quote {
    margin: 0 auto;
    text-align: center;
}

.testi-name {
    padding: 1em 0 0em 0;
    margin: 0 auto;
    text-align: center;
}

.learn-more-1 {
    padding: 1em 0 0 0;
}

.learn-more-1 a {
    font-family: 'Arvo', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #000;
    padding: 1em 1em 1em 1em;
    text-align: center;
    margin: 0 auto;
}

.learn-more-1 a:link,
.learn-more-1 a:visited {
    text-decoration: none;
    color: #FFF;
}

.learn-more-1 a:hover,
.learn-more-1 a:focus {
    background-color: #FFF;
    color: #000;
}

.paragon-link-1 li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.paragon-link-1 a {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    border-bottom: dotted 1px #FFF;
    text-transform: uppercase;
}

.paragon-link-1 a:link,
.paragon-link-1 a:visited {
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
}

.paragon-link-1 a:hover,
.paragon-link-1 a:focus {
    background-color: #FFF;
    color: #000;
}

#contact {
    padding: 1em;
}

.contact-head-1 {
    padding: 1em 0 0 0;
}

.contact-head {
    margin: 0 auto;
}

.contact-head p {
    font-size: 0.8em;
    margin: 0 auto;
    text-align: left;
}

.contact-head a {
    color: #000;
    border-bottom: dotted 1px #000;
}

.contact-head a:link,
.contact-head a:visited {
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
}

.contact-head a:hover,
.contact-head a:focus {
    background-color: #000;
    color: #FFF;
}

.icon {
    padding: 1em 0 0 0;
    text-align: left;
    margin: 0 0 0 -25px;
}

.site-map {
    margin: 0 auto;
    padding: 1.5em 0 0 0;
    text-align: left;
}

.paragon {
    padding: 0.5em 0 0 0;
}

.paragon-link p {
    text-align: left;
}

.paragon-link li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.paragon-link a {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    color: #000;
    border-bottom: dotted 1px #000;
    text-transform: uppercase;
}

.paragon-link a:link,
.paragon-link a:visited {
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
}

.paragon-link a:hover,
.paragon-link a:focus {
    background-color: #000;
    color: #FFF;
}

.footer-nav {
    display: block;
    margin: 0 auto;
}

.footer-nav ul {
    margin: 0 auto;
    padding: 0;
}

.footer-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0;
}

.footer-nav a {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    color: #000;
    border-bottom: dotted 1px #000;
}

.footer-nav a:link,
.footer-nav a:visited {
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
}

.footer-nav a:hover,
.footer-nav a:focus {
    background-color: #000;
    color: #FFF;
}

.copyright {
    padding: 0 1em 0.5em 1em;
    border-top: solid 1px #000;
    width: 100%;
}

.copyright p {
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

.copyright a {
    margin: 0 auto;
    color: #000;
    border-bottom: dotted 1px #000;
}

.copyright a:link,
.copyright a:visited {
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
}

.copyright a:hover,
.copyright a:focus {
    background-color: #000;
    color: #FFF;
}

/* 404 */
.error a {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border-bottom: dotted 1px #FFF;
}

.error a:link,
.error a:visited {
    text-decoration: none;
    padding: 0.1em 0 0.1em 0;
}

.error a:hover,
.error a:focus {
    background-color: #000;
    color: #FFF;
}


@media only screen and (min-width: 21em) {

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5,
    .box-6,
    .box-7 {
        padding: 1.5em;
    }
}

@media only screen and (min-width: 27em) {
    .site-map {
        margin: 0 auto;
        padding-top: 1em;
    }

    .para-img-2 {
        display: none;
    }

    .para-img {
        display: block;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5,
    .box-6,
    .box-7,
    .box-8 {
        padding: 2em;
    }
}

@media only screen and (min-width: 33em) {
    .contact-head {
        margin: 0 auto;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5,
    .box-6,
    .box-7,
    .box-8 {
        padding: 3em;
    }
}

@media only screen and (min-width: 38em) {
    .logo {
        display: none;
    }

    .flex-logo {
        width: 100%;
        margin: 0;
    }

    .add-img {
        display: none;
        position: fixed;
    }

    .para-img {
        display: none;
    }

    .para-img-2 {
        display: block;
        width: 100%;
    }

    .container {
        display: none;
    }

    .dnav {
        display: block;
        position: absolute;
        z-index: 10000;
    }

    .main-nav {
        display: block;
        background: rgba(40,38,37,0.85);
        width: 100%;
        z-index: 1000;
        text-align: center;
    }

    .main-nav ul ul {
        display: none;
    }

    .main-nav ul li:hover > ul {
        display: block;
    }

    .main-nav .ul-1 {
        list-style: none;
        position: relative;
        display: inline-table;
        margin: 0 auto;
        padding: 0;
        font-size: 0.7em;
    }

    .main-nav ul:after {
        content: ""; clear: both; display: block;
    }

    .main-nav ul li {
        display: inline-block;
        padding: 0;
    }

    .main-nav ul li:hover {
        background: #FFF;
    }
    .main-nav ul li:hover a {
        color: #FFF;
    }

    .main-nav ul li a {
        display: block;
        padding: 1em;
        color: #FFF; text-decoration: none;
        text-transform: uppercase;
    }

    .main-nav ul li a:hover {
        color: #000;
    }

    .main-nav ul ul {
        background-color: rgba(0,0,0,0.8); padding: 0;
        position: absolute;
        z-index: 170;
    }

    .main-nav ul ul li {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        position: relative;
        display: block;
    }

    .main-nav ul ul li a {
    }

    .main-nav ul ul li a:hover {
        background: #FFF;
        color: #000;
    }

    .mainnav ul ul ul {
        position: absolute; top:0;
    }

    sticknav {
        height: 25px;
        width: 100%;
        margin-right: 0px;
        left: 0px;
        position: relative;
        z-index: 9999;
        text-align: center;
    }

    .fixed {
        position: fixed;
    }

    .nitor {
        margin-top: -4%;
    }

    .top-right-links {
        display: block;
        text-align: right;
        padding: 0.5em 1em 0 0;
        margin: 0;
    }

    .top-right-links p {
        display: inline-block;
        color: #FFF;
        padding: 0 0.5em 0 0.5em;
    }

    .top-right-links a {
        text-transform: uppercase;
        color: #FFF;
        text-decoration: none;
        font-size: 0.8em;
        border-bottom: 1px dotted #FFF;
        padding-bottom: 0.3em;
    }

    .top-right-links a:hover {
        text-transform: uppercase;
        color: #FFF;
        text-decoration: none;
        font-size: 0.8em;
        border-bottom: 1px dotted #000;
        padding-bottom: 0.3em;
    }

    .box {
        display: none;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-6,
    .box-7,
    .box-8 {
        padding: 3em;
    }

    .box-5 {
        padding: 9em 3em 3em 3em;
        background-color: #282725;
        display: block;
        width: 100%;
    }

    .box-5 h2 {
        color: #FFF;
    }

    .box-5 p {
        color: #FFF;
    }

    .body {
        font-size: 1.1em;
    }

    .paragon {
        padding: 0em 0 0em 0;
    }

    .site-map {
        padding: 0 1em 0 1em;
    }

    #contact {
        padding: 1em;
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (min-width: 46em) {
    .main-nav ul li {
        padding: 0 0.5em 0 0.5em;
    }

    .main-nav ul ul {
        margin: 0 0 0 -1%;
    }


}

@media only screen and (min-width: 51em) {
    .bg {
        background-color: #282725;
    }
    .logo {
        display: none;
    }

    .flex-logo {
        width: 100%;
        display: block;
    }

    .flex-img-2 {
        display: none;
    }

    .mob-img {
        display: none;
    }

    .flex-img-1 {
        display: block;
        width: 100%;
    }

    .flex {
        display: none;
    }

    .add-img {
        display: block;
        position: inherit;
    }

    .arrow {
        display: block;
    }

    .main-nav .ul-1 {
        font-size: 0.8em;
    }

    sticknav {
        text-align: center;
    }

    .testimonials {
        display: block;
        text-align: center;
    }

    .body {
        font-size: 0.8em;
        padding-bottom: 1.8%;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 1em;
    }

    .bg-img {
        display: block;
        position: absolute;
        width: 100%;
    }

    .bg-img img {
        max-height: 100%;
        max-width: 100%;
    }

    .bg-img-1 img {
        max-height: 100%;
        max-width: 100%;
    }

    .box-4 {
        display: block;
        position: relative;
        background: rgba(40,38,37,0.85);
        padding-top: 20%;
    }

    .custom {
        padding-bottom: 1.5%;
    }

    .commercial {
        padding-right: 2em;
        padding-bottom: 8%;
    }

    .reno,
    .services {
        padding: 0;
    }

    .info {
        padding-right: 1em;
    }

    .exterior {
        padding-left: 1em;
    }

    .add {
        padding-top: 1em;
    }

    .body-text {
        padding-right: 2em;
    }

    .ul-padding {
        padding: 1em 0 1em 2.5em;
    }

    .reno-service {
        font-size: 1.2em;
    }

    .reno {
        font-size: 1.1em;
        padding-left: 1em;
    }

    .services {
        font-size: 1.1em;
    }

    .ul-body-1 {
        padding-left: 1em;
    }

    dl {
        margin: 1% 0 1% 0;
    }

    /*Right pointing*/
    .triangle-right {
        width: 0;
        height: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        padding-left: 5%;
        overflow: hidden;
        display: block;
        position: absolute;
    }
    .triangle-right:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-top:-500px;
        margin-left: -500px;

        border-top: 500px solid transparent;
        border-bottom: 500px solid transparent;
        border-left: 500px solid #282725;
    }

    /*Left pointing*/
    .triangle-left {
        width: 5%;
        height: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        overflow: hidden;
        display: block;
        position: absolute;
        margin-left: -4.5%;
    }
    .triangle-left:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-top:-500px;

        border-top: 500px solid transparent;
        border-bottom: 500px solid transparent;
        border-right: 500px solid #282725;
    }

    .error {
        padding-bottom: 39.5%;
    }
}

@media only screen and (min-width: 58em) {
    .box-1,
    .box-3 {
        padding: 2em;
    }

    .box-5 {
        padding-top: 10em;
    }

    .custom {
        padding-bottom: 3%;
    }

    .commercial {
        padding-bottom: 14.4%;
    }

    .add-1 {
        padding-bottom: 3.5%;
    }

    .main-nav ul li {
        padding: 0 1em 0 1em;
    }

    .main-nav ul ul {
        margin: 0 0 0 -1.9%;
    }

    .error {
        padding-bottom: 40.5%;
    }
}

@media only screen and (min-width: 60em) {
    .flex-logo {
        width: 100%;
    }

    .flex-img-1,
    .flex-img {
        width: 100%;
    }

    .box-2 {
        padding: 1.8em;
    }

    .box-1,
    .box-3,
    .box-4,
    .box-5 {
        padding: 2.5em;
    }

    .box-6,
    .box-7,
    .box-8 {
        padding: 4em;
    }

    .box-4,
    .box-5 {
        padding-top: 18%;
    }

    .box-4 .body {
        font-size: 1em;
    }

    .commercial {
        padding-bottom: 0%;
    }

    .main-nav ul {
    font-size: 1em;
    }

    .para-img {
        display: block;
        width: 100%
    }

    .para-img-2 {
        display: none;
    }

    .body {
        font-size: 0.9em;
    }

    .box-7 .body {
        font-size: 1em;
    }

    .error {
        padding-bottom: 39.5%;
    }
}

@media only screen and (min-width: 66em) {
    .s-logo {
        width: 7%;
    }

    .main-nav ul li {
        padding: 0 2em 0 2em;
    }

    .main-nav ul ul {
        margin: 0 0 0 -3.3%;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 3em;
    }

    .box-6,
    .box-7,
    .box-8 {
        padding: 5em;
    }

    .commercial {
        padding-bottom: 8.6%;
    }

    .copyright p {
        font-size: 0.5em;
    }

    .error {
        padding-bottom: 38.3%;
    }
}

@media only screen and (min-width: 72em) {
    .custom {
        padding-bottom: 3%;
        padding-top: 15%;
    }

    .commercial {
        padding-bottom: 12%;
    }

    .box-6 .body,
    .box-8 .body {
        font-size: 1.1em;
    }

    .s-logo {
        width: 6%;
    }

    .error {
        padding-bottom: 33.5%;
    }
}

@media only screen and (min-width: 80em) {
    .main-nav ul li {
        padding: 0 3em 0 3em;
    }

    .main-nav ul ul {
        margin: 0 0 0 -4.3%;
    }

    .body {
        font-size: 1.1em;
    }

    .box-1,
    .box-3 {
        padding: 3.5em;
    }

    .box-4 {
        padding-top: 15%;
    }

    .box-7 .body {
        font-size: 1.2em;
    }

    .box-7 h2 {
        font-size: 1.8em;
    }

    .testimonials {
        font-size: 1.2em;
    }

    .commercial {
        padding-bottom: 8%;
    }

    .pa-img {
        width: 80%;
    }

    .reno {
        padding-left: 3.5em;
    }

    .error {
        padding-bottom: 39.2%;
    }
}

@media only screen and (min-width: 85em) {
    .s-logo {
        width: 5%;
    }
    .body {
        font-size: 1.1em;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 4em;
    }

    .box-6,
    .box-7,
    .box-8 {
        padding: 7em;
    }

    .box-7 .body {
        font-size: 1.2em;
    }

    .box-7 h2 {
        font-size: 1.8em;
    }

    .testimonials {
        font-size: 1.2em;
    }

    .commercial {
        padding-bottom: 13.5%;
    }

    .error {
        padding-bottom: 33.5%;
    }
}

@media only screen and (min-width: 90em) {
    .s-logo {
        width: 4%;
    }

    .main-nav ul li {
        padding: 0 4em 0 4em;
    }

    .main-nav ul ul {
        margin: 0 0 0 -5%;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 5em;
    }

    .copyright p {
        letter-spacing: 0.2em;
    }

    .pa-img {
        position: relative;
    }

    .commercial {
        padding-bottom: 11%;
    }

    #contact {
        padding: 4em;
    }

    .error {
        padding-bottom: 40%;
    }
}

@media only screen and (min-width: 119em) {
    .s-logo {
        width: 3%;
    }

    .flex-logo {
        width: 75%;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 7em;
    }

    .box-5 {
        padding: 10% 4em 2.5em 4em;
    }

    .box-4 {
        padding: 10% 3em 2.5em 3em;
    }

    .commercial {
        padding-bottom: 20.8%;
    }

    .error {
        padding-bottom: 41.5%;
    }

}
